*,
*:before,
*:after {
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}
.el-container {
  @include make-container();
  @include make-container-max-widths();
  position: relative;
  z-index: 2;
}
