.markdown {
  $root: &;

  a {
    color: $primary;
  }

  p {
    padding-top: rem(8px);
    padding-bottom: rem(8px);
  }

  h1 {
    font-size: rem(48px);
    padding-top: rem(48px);
    padding-bottom: rem(32px);
  }

  h2 {
    font-size: rem(36px);
    padding-top: rem(36px);
    padding-bottom: rem(16px);
  }

  h3 {
    font-size: rem(24px);
    padding-top: rem(24px);
    padding-bottom: rem(16px);
  }

  ul, ol {
    list-style: outside;
    list-style-type: disc;
    padding: rem(8px) 0 rem(8px) rem(48px);
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}
